.container{
    margin: 0px 10%;
}

.container p{
    text-align: center;
}

.header h3{
    color: orange;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul{
    display: flex;
    gap: 20px;
}

.header ul li{
   list-style-type: none;
}

.header ul li a{
    text-decoration: none;
 }

 .heading{
    color: red;
 }

 footer ul{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 footer ul li{
    list-style-type: none;
 }

 footer ul li a{
    text-decoration: none;
 }